In [1]:
import pandas as pd
import numpy as np
import re
import seaborn as sns
import matplotlib.pyplot as plt
import random

df = pd.read_csv("corrected.csv",encoding="cp1252")

# Finding Models per Company

In [2]:
total = df["Company Names"].value_counts()
print(total)

Company Names
Nissan               149
Volkswagen           109
Porsche               96
Mazda                 87
Mitsubishi            60
GMC                   59
Chevrolet             58
Peugeot               54
Kia                   54
Ford                  54
TOYOTA                45
BMW                   41
Jaguar Land Rover     40
Tata Motors           29
ROLLS ROYCE           29
Acura                 27
LAMBORGHINI           24
HYUNDAI               23
MERCEDES              21
AUDI                  21
Cadillac              20
Jeep                  19
KIA                   16
ASTON MARTIN          11
Tesla                 10
NISSAN                10
Bugatti               10
FERRARI                9
Volvo                  9
HONDA                  7
Toyota                 5
MARUTI SUZUKI          3
VOLVO                  3
MAHINDRA               3
KIA                    1
BENTLEY                1
ROLLS ROYCE            1
Name: count, dtype: int64

# Finding most electric models

In [3]:
new_df = df[df["Fuel Types"] == "Electric"]

new_df["Company Names"].value_counts(ascending=False).head(5)

Company Names
Volkswagen    15
Porsche       14
Tesla         10
GMC            8
Kia            6
Name: count, dtype: int64