# Finding Averege price per company

In [1]:
import pandas as pd
import numpy as np
import re
import seaborn as sns
import matplotlib.pyplot as plt
import random

df = pd.read_csv("corrected.csv",encoding="cp1252")
df

,Company Names,Cars Names,Engines,CC/Battery Capacity,HorsePower,Total Speed,Performance(0 - 100 )KM/H,Cars Prices,Fuel Types,Seats,Torque
0,FERRARI,SF90 STRADALE,V8,3990 cc,963.0,340,2.5,1100000.0,Plug-In Hybrid,2,800 Nm
1,ROLLS ROYCE,PHANTOM,V12,6749 cc,563.0,250,5.3,460000.0,Petrol,5,900 Nm
2,Ford,KA+,1.2L Petrol,"1,200 cc",77.5,165,10.5,13500.0,Petrol,5,100 - 140 Nm
3,MERCEDES,GT 63 S,V8,"3,982 cc",630.0,250,3.2,161000.0,Petrol,4,900 Nm
4,AUDI,AUDI R8 Gt,V10,"5,204 cc",602.0,320,3.6,253290.0,Petrol,2,560 Nm
...,...,...,...,...,...,...,...,...,...,...,...
1213,Toyota,Crown Signia,2.5L Hybrid I4,2487 cc,240.0,180,7.6,45795.0,Hybrid,5,239 Nm
1214,Toyota,4Runner (6th Gen),2.4L Turbo I4 (i-FORCE MAX Hybrid),2393 cc + Battery,326.0,180,6.8,50000.0,Hybrid,7,630 Nm
1215,Toyota,Corolla Cross,2.0L Gas / 2.0L Hybrid,1987 cc / Hybrid batt,182.5,190,8.6,27172.5,Gas / Hybrid,5,190 Ã¢â‚¬â€œ 210 Nm
1216,Toyota,C-HR+,1.8L / 2.0L Hybrid,1798 / 1987 cc + batt,169.0,180,9.2,33000.0,Hybrid,5,190 Ã¢â‚¬â€œ 205 Nm
1217,Toyota,RAV4 (6th Gen),2.5L Hybrid / Plug-in Hybrid,2487 cc + batt,260.5,200,70.5,36000.0,Plug-In Hybrid,5,221 Ã¢â‚¬â€œ 400 Nm

In [2]:
# Standardize company names
pd.set_option('display.float_format', '{:,.2f}'.format) # Fix scientific notation issue
df["Company Names"] = df["Company Names"].str.upper().str.strip()

# Count of cars per company
cars_per_company = df.groupby("Company Names")["Cars Names"].count()

# Sum of car prices per company
total_price_per_company = df.groupby("Company Names")["Cars Prices"].sum()

# Average price per company = total / count
avg_price_per_company = (total_price_per_company / cars_per_company).reset_index()
avg_price_per_company.columns = ["Company Names", "Average Price"]

print(avg_price_per_company)

        Company Names  Average Price
0               ACURA      63,259.26
1        ASTON MARTIN     752,949.09
2                AUDI      82,870.95
3             BENTLEY     311,000.00
4                 BMW      67,317.07
5             BUGATTI   5,870,000.00
6            CADILLAC      62,178.50
7           CHEVROLET      44,962.93
8             FERRARI     512,222.22
9                FORD      53,457.69
10                GMC      63,293.47
11              HONDA      29,364.29
12            HYUNDAI      31,495.61
13  JAGUAR LAND ROVER      72,125.00
14               JEEP      51,439.21
15                KIA      36,014.08
16        LAMBORGHINI     650,083.33
17           MAHINDRA      18,400.00
18      MARUTI SUZUKI      12,066.67
19              MAZDA      92,747.13
20           MERCEDES      84,190.48
21         MITSUBISHI      28,850.00
22             NISSAN      59,194.59
23            PEUGEOT      35,416.67
24            PORSCHE     138,389.58
25        ROLLS ROYCE     390,400.00
26        TATA MOTORS      12,455.17
27              TESLA      87,032.00
28             TOYOTA      42,418.05
29         VOLKSWAGEN      36,301.24
30              VOLVO      97,083.33

# Important note, I had to remove the true "top" HP car because 2488 hp from a nissal 2.5l turbo diesel is unrealistic beyond reasonable doubt

In [3]:
df.sort_values("HorsePower",ascending=False).iloc[1:6]

,Company Names,Cars Names,Engines,CC/Battery Capacity,HorsePower,Total Speed,Performance(0 - 100 )KM/H,Cars Prices,Fuel Types,Seats,Torque
888,BUGATTI,Bolide,8.0L Quad-Turbo W16,7993 cc,"1,850.00",500,2.20,"4,500,000.00",Petrol,2,1600 Nm
882,BUGATTI,Chiron Super Sport,8.0L Quad-Turbo W16,7993 cc,"1,600.00",490,2.40,"3,500,000.00",Petrol,2,1600 Nm
886,BUGATTI,Centodieci,8.0L Quad-Turbo W16,7993 cc,"1,600.00",380,2.40,"9,000,000.00",Petrol,2,1600 Nm
889,BUGATTI,Mistral,8.0L Quad-Turbo W16,7993 cc,"1,600.00",420,2.40,"5,000,000.00",Petrol,2,1600 Nm
884,BUGATTI,Chiron Noire,8.0L Quad-Turbo W16,7993 cc,"1,500.00",420,2.50,"3,300,000.00",Petrol,2,1600 Nm

# Finding averege acceleration

In [4]:
pet_accel = df.query("`Fuel Types` == 'Petrol'")["Performance(0 - 100 )KM/H"].mean()
bat_accel = df.query("`Fuel Types` == 'Electric'")["Performance(0 - 100 )KM/H"].mean()

print("Petrol acceleration:", round(pet_accel,2), "Electric Acceleration", round(bat_accel,2))

Petrol acceleration: 7.14 Electric Acceleration 5.76